beautifulsoup4==4.5.0
Django==1.10.3
django-modelcluster==2.0
django-settings-export==1.1.0
django-taggit==0.18.3
django-treebeard==4.0.1
djangorestframework==3.4.0
html5lib==0.999999
mysqlclient==1.3.7
Pillow==3.3.0
pytz==2016.6.1
six==1.10.0
Unidecode==0.4.19
wagtail==1.7
Willow==0.3.1
